@media (min-width: 992px) {
	.nav {
		&__desktop {
			height: 100vh;
			&-list {
				&-item {
					@include navItem;
					font-size: 2.3rem;
					padding-right: 1em;

					&-span {
						color: $bright-green;
					}
				}
			}
		}
	}

	.sentence {
		&__box {
			&-h1 {
				font-size: 5rem;
			}

			&-p {
				font-size: 2.5rem;
			}
		}
	}
}

